<% for entry in @entries %>
    <%- if entry.date <= Date.today %>
        <h2><%= link_to(entry.title, entry_path(entry)) %></h2>
        <p><%= entry.date %></p>
        <p><%= entry.contents %></p>
    <%end%>
<% end %>

<%= link_to("New entry", new_entry_path) %>